[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = https://github.com/neomake/neomake.git
[submodule "bundle/vim-solarized8"]
	path = bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/python-pep8-indent"]
	path = bundle/python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "bundle/go"]
	path = bundle/go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/kdb-vim"]
	path = bundle/kdb-vim
	url = https://bitbucket.org/alexcolson/kdb-vim.git
[submodule "bundle/pgsql.vim"]
	path = bundle/pgsql.vim
	url = https://github.com/lifepillar/pgsql.vim.git
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = https://github.com/vim-scripts/dbext.vim
[submodule "bundle/drawit"]
	path = bundle/drawit
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/repl"]
	path = bundle/repl
	url = https://github.com/sillybun/vim-repl.git
[submodule "bundle/async"]
	path = bundle/async
	url = https://github.com/sillybun/vim-async.git
[submodule "bundle/zytutil"]
	path = bundle/zytutil
	url = https://github.com/sillybun/zytutil.git
[submodule "bundle/hindent"]
	path = bundle/hindent
	url = https://github.com/alx741/vim-hindent.git
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/purescript"]
	path = bundle/purescript
	url = https://github.com/raichoo/purescript-vim.git
[submodule "bundle/vue"]
	path = bundle/vue
	url = https://github.com/posva/vim-vue.git
[submodule "bundle/copy-as-rtf"]
	path = bundle/copy-as-rtf
	url = https://github.com/zerowidth/vim-copy-as-rtf.git
[submodule "bundle/coc"]
	path = bundle/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "bundle/typescript"]
	path = bundle/typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/rhubarb"]
	path = bundle/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/leaderf"]
	path = bundle/leaderf
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "bundle/gutentags"]
	path = bundle/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
